@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #CB2124;
  --secondary-color: #297641;
  --gray-color: #323E48;
  --white-text: #ffffff;
  --black-text: #000000;
  --gray-text : #717575;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
    --primary-color: #FF7B7D;
    --secondary-color: #7BBF85;
    --gray-color: #A9B4BE;
    --white-text: #ffffff;
    --black-text: #e0e0e0;
    --gray-text : #4d4d4d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

